* {
    box-sizing: border-box;
    color: white;
}

header {
    background-color: black;
}

.nav-pills .activeMe {
    background-color: white;
    border-radius: 2px;
}

.hero {
    background-image: url(images/hero/bg.jpg);
    width: 100%;
    height: 700px;
    position: absolute;
    background-attachment: fixed;
}

.left-hero h1 {
    font-size: 80px;
    margin-top: 150px;
    margin-left: 200px;
}

.left-hero h2 {
    margin-top: -30px;
    margin-left: 208px;
}

.imgOfMe {
    color: white;
    font-size: 600px;
    position: absolute;
    margin-left: 500px;
    margin-top: -100px;
}

.spacer {
    height: 730px;
    width: 100%;
}